* {
    font-size: xx-large;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    color: white;
}

.container {   
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 8fr 1fr;
    height: 100vh;
    text-align: center;
    background-color: #9333ea;
}

.header {
    grid-column: 1/3;
    margin: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    background-color: black;
    border-radius: 10px;
    box-shadow: inset 0 -1px 5px white;

}

.formTab {
    display: flex;
    margin: 10px 0px;
    margin-left: 10px;
    background-color: black;
    border-radius: 15px;
    box-shadow: inset 0 -1px 10px white;
}

.addBook {
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #9333ea;
    color: white;
    padding:0px 20px;
    border-color: black;
}

.content {
    margin: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 15px;
    background-color: black;
    border-radius: 10px;
    box-shadow: inset 0 -1px 10px white;
}

.content > * {
    background-color: #9333ea;
    border-radius: 20px;
    font-size: small;
}

.book {
    display:flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    width: auto;
    height: 250px;
}

.book >* {
    font-size: x-large;
}

.readBtn-Not {
    background-color: red;
    opacity: .9;
}

.readBtn-Read {
    background-color: lightgreen;
    opacity: .9;

}

.remove {
    background-color: white;
    color:black ;
    padding: 0px 10px;
}

.remove:hover {
    opacity: .9;
}

.form >* {
    font-size: x-large;
}

input {
    color: black !important;
}

.pages {
    text-align: center;
}

.read {
    height: 20px;
    width: 20px;
}

.footer {
    grid-row: 3/4;
    grid-column: 1/3;
    margin:0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 15px;
    box-shadow: inset 0 -1px 10px white;
}